<div class="cadastro-admin-container">
  <div class="cadastro-admin-left">
    <div class="title">
      <h1>Cadastro</h1>
    </div>
    <form class="cadastro-form" [formGroup]="cadastroAdmForm">
      <div class="cadastro-form-input">
        <mat-label>Nome</mat-label>
        <mat-form-field appearance="outline">
          <input matInput required placeholder="Nome completo" formControlName="nome" />
          <mat-error>
            <span *ngIf="cadastroAdmForm.controls['nome'].hasError('required')"
              >Nome é obrigatório</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="cadastro-form-input">
        <mat-label>Email</mat-label>
        <mat-form-field appearance="outline">
          <input matInput type="email" required placeholder="email@exemplo.com" formControlName="email" />
          <mat-error>
            <span *ngIf="cadastroAdmForm.controls['email'].hasError('required')"
              >Email é obrigatório</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="cadastro-form-input">
        <mat-label>Senha</mat-label>
        <mat-form-field appearance="outline">
          <input matInput type="password" required placeholder="Senha forte" formControlName="senha" />
          <mat-error>
            <span *ngIf="cadastroAdmForm.controls['senha'].hasError('required')"
              >Senha é obrigatório</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="cadastro-form-input">
        <mat-label>Telefone</mat-label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="(99) 99999-9999" formControlName="telefone" />
          <mat-error>
            <span
              *ngIf="cadastroAdmForm.controls['telefone'].hasError('required')"
              >Telefone é obrigatório</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="cadastro-form-input">
        <mat-label>CPF</mat-label>
        <mat-form-field appearance="outline">
          <input matInput required placeholder="123-123-123-12" formControlName="cpf" />
          <mat-error>
            <span *ngIf="cadastroAdmForm.controls['cpf'].hasError('required')"
              >CPF é obrigatório</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-botoes">
        <span>Já possui cadastro? <a href="/login-admin">Login</a></span>
        <button mat-button color="primary" type="submit" (click)="cadastrar()">Cadastrar</button>
      </div>
    </form>
  </div>
  <div class="cadastro-admin-rigth"></div>
</div>
